<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{fragments/main_layout}">
<head>
<meta charset="ISO-8859-1">
<title>Index page</title>
 <!-- <link rel="stylesheet" href="../static/css/main.css"  th:href="@{css/main.css}" />
<link rel="stylesheet" href="../static/css/materia/bootstrap.min.css"  th:href="@{css/materia/bootstrap.min.css}" />
<link rel="stylesheet"  href="/webjars/bootstrap/4.1.0/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/4.1.0/css/bootstrap.min.css}"/>
<script src="/webjars/jquery/3.1.1-1/jquery.min.js"  th:src="@{webjars/jquery/3.3.1-1/jquery.min.js}"></script>
<script src="/webjars/bootstrap/4.1.0/js/bootstrap.min.js" th:src="@{/webjars/bootstrap/4.1.0/js/bootstrap.min.js}"></script>
   -->
</head>
<body>
  <!-- <div th:include="fragments/header::header"></div>  -->
<h1>Hello world</h1>

<div layout:fragment="content" class="container mySpace">
<div class="jumbotron">
  <h1 class="display-3">Hello, world!</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </p>
</div>
</div>


 <!--  <div th:include="fragments/footer::footer"></div> -->  
</body>
</html>
 